VITE_SUPABASE_URL=https://lyoxxkgumdxoztjffkfe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5b3h4a2d1bWR4b3p0amZma2ZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyNzYxMDYsImV4cCI6MjEwNDg1MjEwNn0.M7mCBYiUy1qi2VxP3dF3RspyP4c6_D-Ps-aVBaoHfCc
